
:root {

  /* My Colors */
  --offWhite: rgb(151, 149, 149);
  --smoke: rgb(240, 240, 240);
  --darkSmoke: rgb(35, 35, 40);
  --carolinaBlue: rgb(25, 145, 205);
  --navyBlue: rgb(10, 60, 105);
  --bsDanger: rgb(255, 0, 0);
  --bsWarning: rgb(250, 240, 35);
  --bsInfo: rgb(10, 215, 255);
  --bsSuccess: rgb(15, 180, 0);

}

.navbar-brand {
  font-family: monospace;
  color: var(--bsSuccess);
}
.navbar-brand:hover {
  color: var(--bsSuccess);
}


.contact-info-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.contact-info-link, .contact-info-div {
  color: blueviolet;
  transition: 325ms;
}
.contact-info-div:hover, .contact-info-link:hover {
  transform: scale(1.25);
  color: var(--bsInfo);
}

.contact-info-resume {
  font-size: x-large;
  margin-top: 5rem;
  margin-bottom: .5rem;
}
.btn btn-light btn-xl:hover {
  transform: scale(2);
}

.contact-info-phone-number {
  margin-top: 2.5rem;
}



